.title {
  position: absolute;
  top: -5vh;
  left: 43vw;
  font: normal bold 3rem/1.2 "poppins", "helvetica", sans-serif;
  justify-content: center;
  align-items: center;
  /*color: rgb(237, 219, 194);*/
  /*text-shadow: -1px -1px 0 goldenrod, 1px -1px 0 goldenrod, -1px 1px 0 goldenrod, 1px 3px 0 goldenrod;*/
  background-image: linear-gradient(to right, #00E260, #f79d00, #0575E6, #64f38c);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent; 
  background-size: 300%; 
  background-position: -100%; 

  animation: animatedText 2s  infinite alternate-reverse; 

}
 
@keyframes animatedText {
  to {
    background-position: 100%;
  }
}

.inputContainer {
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.outputContainer {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputStyling {
  margin-bottom: 45px;
  background: rgb(251, 129, 84);
  width: 45%;
}

.outputStyling {
  background: rgb(148, 251, 88);
  width: 60%;
}

 
